[Desktop Entry]
Name=Sync My Video
Exec=sync-my-video
Icon=sync-my-video
Type=Application
Terminal=true
Categories=Video;AudioVideo;
Comment=Synchronisierter Videoplayer für das lokale Netzwerk
